* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Noto Serif', serif;
}

/* NAVBAR */
.navbar {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom-style: solid;
    border-color: #01437d;
    border-width: 3px;
}

.navbar button {
    margin: .5rem;
    padding: .5rem;
    position: absolute;
    left: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-color: #01437d;
    border-width: 1px;
}

.bar {
    height: 1px;
    width: 100%;
    background-color: #01437d;
}

.navbar h1 {
    font-size: 1.8rem;
    margin: .5rem;
    text-align: center;
}

.header-links {
    display: none;
    list-style: none;
}

.header-links.active {
    display: flex;
    flex-direction: column;
}

.header-links {
    width: 100%;
}

.header-links li {
    padding: .5rem;
    text-align: center;
}

.header-links li a {
    text-decoration: none;
    color: #000000;
}

.PC-header {
    display: none;
}

/* MAIN */
.spacing-box {
    position: relative;
    height: 14rem;
    width: 100%;
    background-color: #e6ebee;
}

.section-1, .article, .news, .column {
    margin: 1rem;
}

/* CARDS */
.cards {
    padding: 2rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.cards i {
    margin: 2rem 0;
    color: #81aecf;
}

#card-1 {
    background-color: #01437d;
}

#card-2 {
    background-color: #005da3;
}

#card-3 {
    background-color: #0075b5;
}

/* ARTICLES */
.article {
    padding: 1rem 0;
}

.article p {
    margin-top: 1rem;
    line-height: 1.7rem;
}

.article button {
    display: block;
    margin: 3rem auto;
    padding: 1.2rem 6.8rem;
    text-align: center;
    border-radius: 0;
    border-width: 0;
    background-color: #e39300;
    color: #fff;
    white-space: nowrap;
}

.article button span {
    font-size: 1.1rem;
    padding-left: 5px;
}

/* IMAGE 1 */
.business-img {
    margin: 1rem 0;
    width: 100vw;
}

/* NEWS & COLUMN */
.news ul, .column ul {
    list-style: none;
}

.news ul li, .column ul li {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.column ul li {
    flex-direction: row;
}

.column ul li div {
    margin-left: 1.2rem;
    display: flex;
    flex-direction: column;
}

.news ul li span:first-child, .column ul li div span:first-child {
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.news button, .column button {
    display: block;
    margin: 3rem auto;
    padding: 0.7rem 4rem;
    text-align: center;
    border-radius: 0;
    border-width: 0;
    background-color: #727071;
    color: #fff;
}

.news button span, .column button span {
    font-size: 1.1rem;
    padding-left: 5px;
}

.column-img {
    object-fit: cover;
    width: 6rem;
    height: 6rem;
}

/* MAP */
.map p {
    margin: 1rem;
}

.map iframe {
    width: 100vw;
}

.map button {
    display: block;
    margin: 0 1rem 0 auto;
    padding: 1rem;
    text-align: center;
    border-radius: 0;
    border-width: 0;
    background-color: #727071;
    color: #fff;
}

/* FOOTER */
footer {
    margin-top: 1rem;
    padding-bottom: 1rem;
    background-color: #e6ebee;
}

.footer-nav {
    background-color: #01437d;
}

.footer-nav li {
    padding: 1rem;
    border-style: solid;
    border-width: 1px 0;
    border-color: #fff;
}

.footer-nav li a {
    text-decoration: none;
    color: #ffffff;
}

footer div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

footer div h2 {
    padding-bottom: .5rem;
}

footer div p:nth-child(2) {
    padding: 0.5rem 0;
}

@media only screen and (min-width: 768px) {
    /* NAVBAR */
    .navbar {
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .navbar button {
        display: none;
    }

    .navbar h1 {
        font-size: 1.8rem;
        margin: 2rem 0 0 8rem;
        text-align: center;
    }

    .navbar div {
        width: 60%;
        margin-right: 8rem;
    }

    .header-links {
        align-self: end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }

    .header-links li {
        padding: .5rem 2rem;
        text-align: center;
    }

    .header-links li a {
        text-decoration: none;
        color: #000000;
    }

    .active-nav {
        background-color: #01437d;
    }

    .active-nav a {
        color: #fff !important;
    }

    .PC-header {
        margin: 0 0 0 19rem;
        display: flex;
        flex-direction: row;
        line-height: 1em;
    }

    .PC-header div {
        margin: 0 0 2rem auto;
        display: flex;
        flex-direction: column;
    }


    .PC-header button {
        display: inline;
        position: relative;
        width: 22rem;
        border-radius: 0;
        border-width: 0;
        background-color: #e39300;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        align-content: center;
        justify-content: center;
    }

    /* MAIN */
    .spacing-box {
        position: absolute;
        z-index: -1;
        height: 23rem;
    }

    .section-1, .article, .news, .column, .map {
        margin: 7rem 8rem;
    }

    /* CARDS */
    .section-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cards {
        padding: 3rem 4rem;
        height: 19rem;
    }

    /* ARTICLES */
    .article {
        padding: 0 4rem;
        text-align: center;
    }

    .article p {
        margin-top: 1rem;
        padding: 0 10rem;
    }

    .article button {
        padding: 1.2rem 12rem;
    }

    .article button span {
        font-size: 1.1rem;
        padding-left: 5px;
    }

    /* IMAGE 1 */
    .business-img {
        object-fit: cover;
        height: 30rem;
        width: 100%;
    }

    /* NEWS & COLUMN */

    .news ul li {
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
    }

    .column ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column ul li {
        width: 22vw;
    }

    .news ul li span:first-child {
        padding-right: 1rem;
    }

    .news button, .column button {
        margin: 3rem 0 3rem auto;
    }

    /* MAP */
    .map {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .map p {
        margin: .3rem 7.5rem;
    }

    .map iframe {
        align-self: center;
        padding: 0 4rem;
        height: 22rem;
        width: 65vw;
    }

    /* FOOTER */

    .footer-nav {
        background-color: #e6ebee;
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: center;
    }

    .footer-nav li {
        padding: 1rem;
        border-style: solid;
        border-width: 0;
    }

    .footer-nav li a {
        text-decoration: none;
        color: #000;
    }

    footer div {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
        text-align: center;
    }

    footer div h2 {
        padding-bottom: .5rem;
    }

    footer div p:nth-child(2) {
        padding: 0.5rem 0;
    }
}